.header {
  position: relative;
}

.header__navigation {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: $color-transparent;
  z-index: 2;
  transition: transform $trans-default;
}

.header__navigation .container {
  padding-top: 31px;

  @include vp-767 {
    padding-top: 21px;
  }
}

.header__navigation.is-hidden {
  transform: translateY(-100%);
}


.header__overlay {
  display: none;
}

.header__overlay.is-opend {
  display: block;
  width: 100%;
  height: 110vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: $color-black-pearl;
}
