.site-nav {
  display: block;
  position: static;
  background-color: $color-transparent;
  border-radius: 0;
  padding: 0;
  width: 100%;
  z-index: auto;
}

.site-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;

  @include vp-1439 {
    gap: 16px;
    justify-content: flex-end;
  }

  @include vp-767 {
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
    overflow-x: auto;
  }
}

.site-nav__item {
  flex-shrink: 0;
}


.site-nav__link {
  display: block;
  margin: 0;
  padding: 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  color: $color-charcoal;
  line-height: 26px;
  text-transform: none;
  letter-spacing: normal;
  transition: none;
  outline: none;

  &:hover {
    color: $color-cerulean-blue-07;
  }

  &:focus-visible {
    color: $color-cerulean-blue;
  }

  &:active {
    color: $color-endeavour;
  }

  @include vp-1439 {
    padding-left: 0;
    padding-right: 0;
  }

  @include vp-767 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
  }
}
